<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cxf="http://cxf.apache.org/core"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



    <context:property-placeholder location="app.properties"/>

    <bean class="com.bilalalp.cxfloggerconsumer.CxfLoggerConsumerApplicationConfig"/>

    <bean id="cxfLoggerConfig" class="com.bilalalp.cxflogger.config.CxfLoggerApplicationConfig">
        <property name="cxfLoggerConfigurationMap">
            <map>
                <entry key="cxflogger.db.jdbc.url" value="jdbc:h2:~/h2CxfLoggerDb3;AUTO_SERVER\=TRUE"/>
            </map>
        </property>
        <property name="useDatasource" value="true"/>
        <property name="dataSource" ref="cxfLoggerConsumerDatasource"/>
    </bean>

    <bean id="abstractLoggingInterceptor" abstract="true">
        <property name="prettyLogging" value="true"/>
    </bean>

    <bean id="loggingInInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor"
          parent="abstractLoggingInterceptor"/>
    <bean id="loggingOutInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor"
          parent="abstractLoggingInterceptor"/>

    <cxf:bus>
        <cxf:inInterceptors>
            <ref bean="loggingInInterceptor"/>
            <ref bean="wsLoggingInInterceptor"/>
        </cxf:inInterceptors>
        <cxf:outInterceptors>
            <ref bean="loggingOutInterceptor"/>
            <ref bean="wsLoggingOutInterceptor"/>
        </cxf:outInterceptors>
        <cxf:inFaultInterceptors>
            <ref bean="loggingInInterceptor"/>
            <ref bean="wsLoggingInInterceptor"/>
        </cxf:inFaultInterceptors>
        <cxf:outFaultInterceptors>
            <ref bean="loggingOutInterceptor"/>
            <ref bean="wsLoggingOutInterceptor"/>
        </cxf:outFaultInterceptors>
    </cxf:bus>

    <jaxws:client id="globalWeatherClient"
                  serviceClass="com.w3schools.webservices.TempConvertSoap"
                  address="${cxfLoggerConsumer.wsdl.endpoint}"/>

</beans>